@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only add this if you strictly need custom animations and have installed 'tailwindcss-animate' */
/* @import "tw-animate-css"; */ 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* This ensures the font works */
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}